/*Menú navegación principal común*/

header{
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    background-color: rgb(194, 194, 194);
}

    header nav{
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
        gap: 30px;
        margin-right: 30px;
    }

        header nav ul li{
            list-style: none;
        }

        header nav ul li a{
            text-decoration: none;
        }

.tituloMenuGeneral{
    margin-left: 20px;
}

h1{
    text-align: center;
}

/*********Página Jazz*********/

.mainJazz{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}

main section ul,
.lineaTemporal{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}

.mapaPrincipal{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
}

    .mapaPrincipal img{
        width: 100%;
        height: auto;
        display: block;
    }

/*línea temporal*/

.enlaceTemporal{
    text-decoration: none;
}

/*punto en el mapa*/

    .pointNY{
        display: inline-block; /* Para permitir definir altura y anchura */
        background-color: white;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 240px;
        left: 1050px;
        text-decoration: none; /* Quitar el subrayado del enlace */
        cursor: pointer; /* Cambiar el cursor para parecer interactivo */
        border: 2px solid black;
        transition: all 0.2s ease;
    }

    .pointNO{
        display: inline-block; /* Para permitir definir altura y anchura */
        background-color: white;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 600px;
        left: 760px;
        text-decoration: none; /* Quitar el subrayado del enlace */
        cursor: pointer; /* Cambiar el cursor para parecer interactivo */
        border: 2px solid black;
        transition: all 0.2s ease;   
    }

    .pointChI{
        display: inline-block; /* Para permitir definir altura y anchura */
        background-color: white;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 1;
        top: 270px;
        left: 760px;
        text-decoration: none; /* Quitar el subrayado del enlace */
        cursor: pointer; /* Cambiar el cursor para parecer interactivo */
        border: 2px solid black;
        transition: all 0.2s ease;   
    }

    .pointNY:focus,
    .pointNY:hover,
    .pointNO:focus,
    .pointNO:hover,
    .pointChI:focus,
    .pointChI:hover{
        background-color: blue;
        outline: none; /* Quitar el borde de enfoque predeterminado */
        height: 30px;
        width: 30px;
    }

    .pointNY:active,
    .pointNO:active,
    .pointChI:active{
        background-color: blue; /* Cambia a rojo cuando se hace clic */
        height: 25px;
        width: 25px;
    }

.estilsJazz{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}    

/*pelicula*/
.whiplash{
    height: 30%;
    width: 30%;
}

/*********Página despresJazz*********/

.mainDespresJazz{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}

.videosAvans{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}

    .videosAvans li a{
        text-decoration: none;
    }

/*********Página despresJazz*********/

.mainAvansJazz{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}

/*********Página NewYork*********/

.mainNewYork{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}

/*********Página Chicago*********/

.mainChicago{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}

/*********Página New Orleans*********/

.mainNewOrleans{
    background-color: rgb(248, 248, 248);
    width: 1170px;
    margin: 0px auto;
    padding-top: 100px;
}